body {
    background: rgb(255, 232, 23) linear-gradient(45deg, rgb(0, 28, 56), rgb(215, 0, 115)) fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}
